<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title>Gabble</title>
  </head>
  <body>
    <container>
      <h1>Gabble</h1>
      <button type = "submit" name = "signupHome"> Sign Me Up</button>
      <button type = "submit" name = "loginHome"> Login</button>
    </container>
  </body>
</html>
